USE [RopaWeb]
GO
/****** Object:  Table [dbo].[ANUNCIO]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANUNCIO](
	[AnuncioId] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NOT NULL,
	[Imagen] [nvarchar](100) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFinal] [date] NOT NULL,
	[Orden] [int] NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnuncioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarritoCompra]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarritoCompra](
	[CarritoId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoTallaId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[OrdenId] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[TotalCarrito] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CarritoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[CategoriaId] [int] IDENTITY(1,1) NOT NULL,
	[DesCategoria] [nvarchar](150) NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUPON]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUPON](
	[CuponId] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[Descuento] [decimal](5, 2) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[Estado] [bit] NULL,
	[FechaPago] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CuponId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESCUENTO]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESCUENTO](
	[DescuentoId] [int] IDENTITY(1,1) NOT NULL,
	[NombreDescuento] [nvarchar](255) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Porcentaje] [decimal](5, 2) NULL,
	[Imagen] [nvarchar](200) NULL,
	[FechaInicio] [date] NULL,
	[FechaFin] [date] NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DescuentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLETARJETA]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLETARJETA](
	[DetalleTarjetaId] [int] IDENTITY(1,1) NOT NULL,
	[PagoId] [int] NOT NULL,
	[NumeroTarjeta] [nvarchar](20) NOT NULL,
	[FechaVencimiento] [char](5) NOT NULL,
	[CVV] [nvarchar](4) NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleTarjetaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECCION]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECCION](
	[DireccionId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Departamento] [nvarchar](200) NOT NULL,
	[Provincia] [nvarchar](200) NOT NULL,
	[Distrito] [nvarchar](200) NOT NULL,
	[Via] [nvarchar](200) NULL,
	[Numero] [nvarchar](200) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DireccionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENERO]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENERO](
	[GeneroId] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](20) NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GeneroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIA]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIA](
	[HistoriaId] [int] IDENTITY(1,1) NOT NULL,
	[Año] [date] NOT NULL,
	[Titulo] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDIOPAGO]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDIOPAGO](
	[MedioPagoId] [int] IDENTITY(1,1) NOT NULL,
	[TipoPagoId] [int] NOT NULL,
	[DescripcionMedioPago] [nvarchar](100) NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MedioPagoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONEDA]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONEDA](
	[MonedaId] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](5) NOT NULL,
	[Nombre] [nvarchar](20) NOT NULL,
	[Simbolo] [nvarchar](5) NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MonedaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTICIA]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTICIA](
	[NoticiaId] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Imagen] [nvarchar](200) NULL,
	[FechaPublicacion] [date] NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NoticiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEN]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN](
	[OrdenId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[SucursalId] [int] NULL,
	[MetodoEntrega] [nvarchar](20) NOT NULL,
	[DireccionId] [int] NULL,
	[Estado] [bit] NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEN_CUPON]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN_CUPON](
	[OrdenCuponId] [int] IDENTITY(1,1) NOT NULL,
	[OrdenId] [int] NOT NULL,
	[CuponId] [int] NOT NULL,
	[MontoDescuento] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NULL,
	[FechaPago] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdenCuponId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDENDETALLE]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDENDETALLE](
	[OrdenDetalleId] [int] IDENTITY(1,1) NOT NULL,
	[OrdenId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioUnitario]) PERSISTED,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdenDetalleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[PagoId] [int] IDENTITY(1,1) NOT NULL,
	[OrdenId] [int] NOT NULL,
	[MedioPagoId] [int] NULL,
	[CodigoOperacion] [nvarchar](100) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[PermisoId] [int] IDENTITY(1,1) NOT NULL,
	[NombrePermiso] [nvarchar](100) NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PermisoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMROL]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMROL](
	[PermRolId] [int] IDENTITY(1,1) NOT NULL,
	[PermisoId] [int] NULL,
	[RolId] [int] NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PermRolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREGUNTA]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREGUNTA](
	[PreguntaId] [int] IDENTITY(1,1) NOT NULL,
	[Preguntas] [nvarchar](400) NOT NULL,
	[Respuesta] [nvarchar](800) NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PreguntaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ProductoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Imagen] [nvarchar](500) NULL,
	[MonedaId] [int] NOT NULL,
	[GeneroId] [int] NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoCategoria]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoCategoria](
	[ProductoCategoriaId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoCategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoFavorito]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoFavorito](
	[ProductoFavoritoId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoFavoritoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoTalla]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoTalla](
	[ProductoTallaId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[TallaId] [int] NOT NULL,
	[Stock] [int] NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[StockReservado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoTallaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](20) NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCKPRODUCTO]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCKPRODUCTO](
	[StockId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[TallaId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[SucursalId] [int] IDENTITY(1,1) NOT NULL,
	[Locales] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SucursalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TALLA]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TALLA](
	[TallaId] [int] IDENTITY(1,1) NOT NULL,
	[TipoTalla] [nvarchar](10) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TallaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Testimonio]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Testimonio](
	[TestimonioId] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[UsuarioId] [int] NOT NULL,
	[Evaluacion] [int] NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TestimonioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOPAGO]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOPAGO](
	[TipoPagoId] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionTipoPago] [nvarchar](50) NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoPagoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRol]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRol](
	[UserRolId] [int] IDENTITY(1,1) NOT NULL,
	[RolId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 20/12/2025 08:19:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [nvarchar](100) NOT NULL,
	[ApellidoCompleto] [nvarchar](100) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[DNI] [nvarchar](8) NOT NULL,
	[Imagen] [nvarchar](100) NULL,
	[CorreoElectronico] [nvarchar](100) NOT NULL,
	[Contraseña] [nvarchar](100) NOT NULL,
	[ContraseñaVisible] [nvarchar](100) NOT NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ANUNCIO] ON 

INSERT [dbo].[ANUNCIO] ([AnuncioId], [Titulo], [Descripcion], [Imagen], [FechaInicio], [FechaFinal], [Orden], [Estado], [FechaRegistro]) VALUES (21, N'Nueva Colección Street 2025', N'Descubre los nuevos polos y hoodies oversize con estilo urbano. Colores oscuros, diseños únicos y toda la vibra Kallewear.', N'https://i.imgur.com/vb22UCc.png', CAST(N'2025-11-11' AS Date), CAST(N'2025-11-20' AS Date), 1, 1, CAST(N'2025-11-11T22:43:38.747' AS DateTime))
INSERT [dbo].[ANUNCIO] ([AnuncioId], [Titulo], [Descripcion], [Imagen], [FechaInicio], [FechaFinal], [Orden], [Estado], [FechaRegistro]) VALUES (22, N'Cyber Kallewear', N'Aprovecha nuestras ofertas online con hasta 40% de descuento en toda la tienda. Solo por tiempo limitado, ¡no te lo pierdas!', N'https://i.imgur.com/xqTXl1h.png', CAST(N'2025-11-21' AS Date), CAST(N'2025-11-30' AS Date), 2, 1, CAST(N'2025-11-11T22:45:08.957' AS DateTime))
INSERT [dbo].[ANUNCIO] ([AnuncioId], [Titulo], [Descripcion], [Imagen], [FechaInicio], [FechaFinal], [Orden], [Estado], [FechaRegistro]) VALUES (23, N'Navidad Juvenil 2025', N'Celebra con estilo esta Navidad. Ropa juvenil y accesorios con descuentos especiales más envío gratis en pedidos mayores a S/150.', N'https://i.imgur.com/yD13lIB.png', CAST(N'2025-12-01' AS Date), CAST(N'2025-12-06' AS Date), 3, 1, CAST(N'2025-11-11T22:47:19.323' AS DateTime))
SET IDENTITY_INSERT [dbo].[ANUNCIO] OFF
GO
SET IDENTITY_INSERT [dbo].[CarritoCompra] ON 

INSERT [dbo].[CarritoCompra] ([CarritoId], [ProductoTallaId], [UsuarioId], [OrdenId], [Cantidad], [PrecioUnitario], [Subtotal], [TotalCarrito], [Estado], [FechaRegistro]) VALUES (172, 7, 7, 16, 1, CAST(59.90 AS Decimal(10, 2)), CAST(59.90 AS Decimal(10, 2)), CAST(179.90 AS Decimal(10, 2)), 1, CAST(N'2025-12-01T12:44:43.187' AS DateTime))
INSERT [dbo].[CarritoCompra] ([CarritoId], [ProductoTallaId], [UsuarioId], [OrdenId], [Cantidad], [PrecioUnitario], [Subtotal], [TotalCarrito], [Estado], [FechaRegistro]) VALUES (173, 8, 7, 16, 1, CAST(120.00 AS Decimal(10, 2)), CAST(120.00 AS Decimal(10, 2)), CAST(179.90 AS Decimal(10, 2)), 1, CAST(N'2025-12-01T12:44:43.210' AS DateTime))
SET IDENTITY_INSERT [dbo].[CarritoCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([CategoriaId], [DesCategoria], [Estado], [FechaRegistro]) VALUES (31, N'Polo', 1, CAST(N'2025-11-12T23:14:52.997' AS DateTime))
INSERT [dbo].[Categoria] ([CategoriaId], [DesCategoria], [Estado], [FechaRegistro]) VALUES (32, N'Chompa', 1, CAST(N'2025-11-12T23:14:57.633' AS DateTime))
INSERT [dbo].[Categoria] ([CategoriaId], [DesCategoria], [Estado], [FechaRegistro]) VALUES (33, N'Casaca', 1, CAST(N'2025-11-12T23:15:05.747' AS DateTime))
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[DESCUENTO] ON 

INSERT [dbo].[DESCUENTO] ([DescuentoId], [NombreDescuento], [Descripcion], [Porcentaje], [Imagen], [FechaInicio], [FechaFin], [Estado], [FechaRegistro]) VALUES (1, N'Descuento de Verano', N'Descuento de Verano', CAST(30.00 AS Decimal(5, 2)), N'https://i.imgur.com/kJ73gRm_d.webp?maxwidth=760&fidelity=grand', CAST(N'2025-11-10' AS Date), CAST(N'2025-11-30' AS Date), 1, CAST(N'2025-11-10T19:06:56.463' AS DateTime))
INSERT [dbo].[DESCUENTO] ([DescuentoId], [NombreDescuento], [Descripcion], [Porcentaje], [Imagen], [FechaInicio], [FechaFin], [Estado], [FechaRegistro]) VALUES (3, N'Promo Estudiantes', N'Especial para jóvenes universitarios. Presenta tu carnet y obtén un 15% adicional en tu compra online.', CAST(15.00 AS Decimal(5, 2)), N'https://i.imgur.com/wiFRRQN.png', CAST(N'2025-11-30' AS Date), CAST(N'2025-12-17' AS Date), 1, CAST(N'2025-11-11T22:03:32.297' AS DateTime))
SET IDENTITY_INSERT [dbo].[DESCUENTO] OFF
GO
SET IDENTITY_INSERT [dbo].[DIRECCION] ON 

INSERT [dbo].[DIRECCION] ([DireccionId], [UsuarioId], [Departamento], [Provincia], [Distrito], [Via], [Numero], [Estado], [FechaRegistro]) VALUES (1, 7, N'Lima', N'Municipalidad Metropolitana de Lima', N'Lima', N'asd', N'12', 1, CAST(N'2025-11-13T15:34:21.253' AS DateTime))
INSERT [dbo].[DIRECCION] ([DireccionId], [UsuarioId], [Departamento], [Provincia], [Distrito], [Via], [Numero], [Estado], [FechaRegistro]) VALUES (2, 7, N'Lima', N'Municipalidad Metropolitana de Lima', N'Lima', N'asd', N'12', 1, CAST(N'2025-11-13T15:34:25.027' AS DateTime))
INSERT [dbo].[DIRECCION] ([DireccionId], [UsuarioId], [Departamento], [Provincia], [Distrito], [Via], [Numero], [Estado], [FechaRegistro]) VALUES (3, 7, N'Lima', N'Municipalidad Metropolitana de Lima', N'Lima', N'asd', N'12', 1, CAST(N'2025-11-13T15:34:25.410' AS DateTime))
SET IDENTITY_INSERT [dbo].[DIRECCION] OFF
GO
SET IDENTITY_INSERT [dbo].[GENERO] ON 

INSERT [dbo].[GENERO] ([GeneroId], [Tipo], [Estado], [FechaRegistro]) VALUES (1, N'Hombre', 1, CAST(N'2025-10-23T21:57:53.757' AS DateTime))
INSERT [dbo].[GENERO] ([GeneroId], [Tipo], [Estado], [FechaRegistro]) VALUES (2, N'Mujer', 1, CAST(N'2025-10-23T21:57:57.017' AS DateTime))
INSERT [dbo].[GENERO] ([GeneroId], [Tipo], [Estado], [FechaRegistro]) VALUES (3, N'Unisex', 1, CAST(N'2025-10-23T21:58:04.953' AS DateTime))
SET IDENTITY_INSERT [dbo].[GENERO] OFF
GO
SET IDENTITY_INSERT [dbo].[HISTORIA] ON 

INSERT [dbo].[HISTORIA] ([HistoriaId], [Año], [Titulo], [Descripcion], [Estado], [FechaRegistro]) VALUES (2, CAST(N'2010-12-01' AS Date), N'Nacimiento de Kallewear', N'En 2010 nace Kallewear, una marca juvenil creada por emprendedores apasionados por la moda urbana. Su objetivo desde el inicio fue reflejar la autenticidad y actitud de la calle en cada prenda', 1, CAST(N'2025-11-12T23:39:51.767' AS DateTime))
INSERT [dbo].[HISTORIA] ([HistoriaId], [Año], [Titulo], [Descripcion], [Estado], [FechaRegistro]) VALUES (3, CAST(N'2015-06-09' AS Date), N'Expansión nacional y presencia en ferias', N'Tras cinco años de crecimiento, Kallewear comenzó a participar en ferias de moda y eventos juveniles en distintas ciudades del país, logrando posicionarse como una marca reconocida entre los jóvenes', 1, CAST(N'2025-11-12T23:41:32.503' AS DateTime))
INSERT [dbo].[HISTORIA] ([HistoriaId], [Año], [Titulo], [Descripcion], [Estado], [FechaRegistro]) VALUES (4, CAST(N'2020-07-15' AS Date), N'Transformación digital y tienda online', N'Con la llegada de la era digital, Kallewear lanzó su tienda en línea, ofreciendo una experiencia moderna y segura para sus clientes. Fue un paso clave para llegar a todo el Perú', 1, CAST(N'2025-11-12T23:41:54.960' AS DateTime))
SET IDENTITY_INSERT [dbo].[HISTORIA] OFF
GO
SET IDENTITY_INSERT [dbo].[MEDIOPAGO] ON 

INSERT [dbo].[MEDIOPAGO] ([MedioPagoId], [TipoPagoId], [DescripcionMedioPago], [Estado], [FechaRegistro]) VALUES (1, 1, N'Visa Crédito', 1, CAST(N'2025-11-20T11:49:04.350' AS DateTime))
INSERT [dbo].[MEDIOPAGO] ([MedioPagoId], [TipoPagoId], [DescripcionMedioPago], [Estado], [FechaRegistro]) VALUES (2, 1, N'Mastercard Crédito', 1, CAST(N'2025-11-20T11:49:04.350' AS DateTime))
INSERT [dbo].[MEDIOPAGO] ([MedioPagoId], [TipoPagoId], [DescripcionMedioPago], [Estado], [FechaRegistro]) VALUES (3, 1, N'American Express', 1, CAST(N'2025-11-20T11:49:04.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[MEDIOPAGO] OFF
GO
SET IDENTITY_INSERT [dbo].[MONEDA] ON 

INSERT [dbo].[MONEDA] ([MonedaId], [Codigo], [Nombre], [Simbolo], [Estado], [FechaRegistro]) VALUES (1, N'PEN', N'Soles', N'S/', 1, CAST(N'2025-10-23T21:56:42.293' AS DateTime))
INSERT [dbo].[MONEDA] ([MonedaId], [Codigo], [Nombre], [Simbolo], [Estado], [FechaRegistro]) VALUES (2, N'USD', N'Dólares', N'$/', 1, CAST(N'2025-10-23T21:56:58.220' AS DateTime))
SET IDENTITY_INSERT [dbo].[MONEDA] OFF
GO
SET IDENTITY_INSERT [dbo].[NOTICIA] ON 

INSERT [dbo].[NOTICIA] ([NoticiaId], [Titulo], [Descripcion], [Imagen], [FechaPublicacion], [Estado], [FechaRegistro]) VALUES (2, N'Kallewear lanza su nueva línea urbana 2026', N'La marca juvenil Kallewear presentó su nueva colección urbana con diseños oversize, tonos oscuros y materiales sostenibles. La línea busca reflejar la autenticidad y el estilo callejero de las nuevas generaciones.', N'https://i.imgur.com/FQAnnRV.png', CAST(N'2025-11-12' AS Date), 1, CAST(N'2025-11-12T23:24:18.277' AS DateTime))
INSERT [dbo].[NOTICIA] ([NoticiaId], [Titulo], [Descripcion], [Imagen], [FechaPublicacion], [Estado], [FechaRegistro]) VALUES (3, N'Kallewear colabora con artistas locales', N'En apoyo al talento joven, Kallewear anunció una colaboración exclusiva con artistas urbanos para crear diseños únicos en polos y hoodies. Cada prenda cuenta con ilustraciones originales inspiradas en la cultura de la calle.', N'https://i.imgur.com/Br66TH6.jpeg', CAST(N'2025-09-24' AS Date), 1, CAST(N'2025-11-12T23:28:37.203' AS DateTime))
INSERT [dbo].[NOTICIA] ([NoticiaId], [Titulo], [Descripcion], [Imagen], [FechaPublicacion], [Estado], [FechaRegistro]) VALUES (4, N'Kallewear implementa nuevos métodos de pago', N'Pensando en sus clientes, Kallewear amplía sus opciones de pago online, incluyendo billeteras digitales y pagos a plazos sin intereses. Una experiencia de compra más rápida y segura para todos los jóvenes compradores.', N'https://i.imgur.com/LbqTJ20.png', CAST(N'2025-06-19' AS Date), 1, CAST(N'2025-11-12T23:31:19.833' AS DateTime))
SET IDENTITY_INSERT [dbo].[NOTICIA] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDEN] ON 

INSERT [dbo].[ORDEN] ([OrdenId], [UsuarioId], [SucursalId], [MetodoEntrega], [DireccionId], [Estado], [Total], [FechaRegistro]) VALUES (3, 7, NULL, N'Envio', 1, 1, CAST(239.80 AS Decimal(10, 2)), CAST(N'2025-11-13T15:34:28.607' AS DateTime))
INSERT [dbo].[ORDEN] ([OrdenId], [UsuarioId], [SucursalId], [MetodoEntrega], [DireccionId], [Estado], [Total], [FechaRegistro]) VALUES (4, 7, NULL, N'Envio', 1, 1, CAST(239.80 AS Decimal(10, 2)), CAST(N'2025-11-13T15:34:28.607' AS DateTime))
INSERT [dbo].[ORDEN] ([OrdenId], [UsuarioId], [SucursalId], [MetodoEntrega], [DireccionId], [Estado], [Total], [FechaRegistro]) VALUES (5, 7, NULL, N'Envio', 1, 1, CAST(239.80 AS Decimal(10, 2)), CAST(N'2025-11-13T15:34:28.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[ORDEN] OFF
GO
SET IDENTITY_INSERT [dbo].[PAGO] ON 

INSERT [dbo].[PAGO] ([PagoId], [OrdenId], [MedioPagoId], [CodigoOperacion], [Estado], [FechaRegistro]) VALUES (1, 10, 5, N'', 1, CAST(N'2025-11-20T11:49:46.760' AS DateTime))
INSERT [dbo].[PAGO] ([PagoId], [OrdenId], [MedioPagoId], [CodigoOperacion], [Estado], [FechaRegistro]) VALUES (2, 11, 1, N'CARD-1111', 1, CAST(N'2025-11-30T16:55:33.023' AS DateTime))
INSERT [dbo].[PAGO] ([PagoId], [OrdenId], [MedioPagoId], [CodigoOperacion], [Estado], [FechaRegistro]) VALUES (3, 12, 1, N'CARD-1111', 1, CAST(N'2025-11-30T17:23:19.437' AS DateTime))
SET IDENTITY_INSERT [dbo].[PAGO] OFF
GO
SET IDENTITY_INSERT [dbo].[PERMISO] ON 

INSERT [dbo].[PERMISO] ([PermisoId], [NombrePermiso], [Estado], [FechaRegistro]) VALUES (1, N'Anuncio.Ver', 1, CAST(N'2025-10-23T18:22:03.637' AS DateTime))
INSERT [dbo].[PERMISO] ([PermisoId], [NombrePermiso], [Estado], [FechaRegistro]) VALUES (2, N'Anuncio.VerTodos', 1, CAST(N'2025-10-23T18:22:03.637' AS DateTime))
INSERT [dbo].[PERMISO] ([PermisoId], [NombrePermiso], [Estado], [FechaRegistro]) VALUES (3, N'Anuncio.VerDetalle', 1, CAST(N'2025-10-23T18:22:03.637' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PERMISO] OFF
GO
SET IDENTITY_INSERT [dbo].[PERMROL] ON 

INSERT [dbo].[PERMROL] ([PermRolId], [PermisoId], [RolId], [Estado], [FechaRegistro]) VALUES (1, 1, 1, 1, CAST(N'2025-12-05T21:41:02.080' AS DateTime))
INSERT [dbo].[PERMROL] ([PermRolId], [PermisoId], [RolId], [Estado], [FechaRegistro]) VALUES (2, 2, 1, 1, CAST(N'2025-12-05T21:41:02.080' AS DateTime))
INSERT [dbo].[PERMROL] ([PermRolId], [PermisoId], [RolId], [Estado], [FechaRegistro]) VALUES (3, 3, 1, 1, CAST(N'2025-12-05T21:41:02.080' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PERMROL] OFF
GO
SET IDENTITY_INSERT [dbo].[PREGUNTA] ON 

INSERT [dbo].[PREGUNTA] ([PreguntaId], [Preguntas], [Respuesta], [Estado], [FechaRegistro]) VALUES (1, N'¿Cómo puedo realizar una compra en la tienda online de Kallewear?', N'Para comprar en Kallewear solo debes registrarte, agregar los productos al carrito y seguir los pasos de pago. Una vez confirmado, recibirás un correo con los detalles de tu pedido.', 1, CAST(N'2025-11-13T15:09:48.253' AS DateTime))
INSERT [dbo].[PREGUNTA] ([PreguntaId], [Preguntas], [Respuesta], [Estado], [FechaRegistro]) VALUES (2, N'¿Qué métodos de pago aceptan?', N'Kallewear acepta pagos con tarjetas de crédito, débito, Yape, Plin y transferencias bancarias. Todos los métodos son 100% seguros.', 1, CAST(N'2025-11-13T15:09:48.253' AS DateTime))
INSERT [dbo].[PREGUNTA] ([PreguntaId], [Preguntas], [Respuesta], [Estado], [FechaRegistro]) VALUES (3, N'¿Cuánto tarda en llegar mi pedido?', N'El tiempo de entrega varía según tu ubicación. En Lima de 2 a 4 días hábiles y en provincias entre 5 y 7 días hábiles después de confirmado el pago.', 1, CAST(N'2025-11-13T15:09:48.253' AS DateTime))
SET IDENTITY_INSERT [dbo].[PREGUNTA] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([ProductoId], [Nombre], [Descripcion], [Precio], [Imagen], [MonedaId], [GeneroId], [Estado], [FechaRegistro]) VALUES (1, N'Patas de  Estephanie Bobax', N'Polo negro oversize de hombre, estilo clásico, confeccionado en algodón suave, ideal para un look moderno y casual.', CAST(59.90 AS Decimal(10, 2)), N'https://i.imgur.com/vHjQkmV.jpeg', 1, 1, 1, CAST(N'2025-10-23T22:02:28.150' AS DateTime))
INSERT [dbo].[PRODUCTO] ([ProductoId], [Nombre], [Descripcion], [Precio], [Imagen], [MonedaId], [GeneroId], [Estado], [FechaRegistro]) VALUES (3, N'Polo Blanco Oversize Clásico', N'Polo blanco oversize de hombre, estilo clásico, confeccionado en algodón suave, ideal para un look moderno y casual', CAST(59.90 AS Decimal(10, 2)), N'https://i.imgur.com/6M28uUg.jpeg', 1, 1, 1, CAST(N'2025-10-23T22:14:37.510' AS DateTime))
INSERT [dbo].[PRODUCTO] ([ProductoId], [Nombre], [Descripcion], [Precio], [Imagen], [MonedaId], [GeneroId], [Estado], [FechaRegistro]) VALUES (4, N'Polo Verde Oversize Dielgo', N'Polo verde oversize de hombre con diseño de letra "Dielgo", confeccionado en algodón suave, ideal para un look moderno y casual.', CAST(120.00 AS Decimal(10, 2)), N'https://i.imgur.com/p1IxQNG.jpeg', 1, 1, 1, CAST(N'2025-10-23T22:19:06.180' AS DateTime))
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductoCategoria] ON 

INSERT [dbo].[ProductoCategoria] ([ProductoCategoriaId], [ProductoId], [CategoriaId], [Estado], [FechaRegistro]) VALUES (21, 1, 31, 1, CAST(N'2025-11-27T20:54:11.893' AS DateTime))
INSERT [dbo].[ProductoCategoria] ([ProductoCategoriaId], [ProductoId], [CategoriaId], [Estado], [FechaRegistro]) VALUES (22, 3, 31, 1, CAST(N'2025-11-27T20:57:40.267' AS DateTime))
INSERT [dbo].[ProductoCategoria] ([ProductoCategoriaId], [ProductoId], [CategoriaId], [Estado], [FechaRegistro]) VALUES (23, 4, 31, 1, CAST(N'2025-11-27T20:57:45.170' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductoCategoria] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductoTalla] ON 

INSERT [dbo].[ProductoTalla] ([ProductoTallaId], [ProductoId], [TallaId], [Stock], [Estado], [FechaRegistro], [StockReservado]) VALUES (1, 1, 1, 30, 1, CAST(N'2025-10-23T22:45:31.040' AS DateTime), 0)
INSERT [dbo].[ProductoTalla] ([ProductoTallaId], [ProductoId], [TallaId], [Stock], [Estado], [FechaRegistro], [StockReservado]) VALUES (2, 1, 2, 25, 1, CAST(N'2025-10-23T22:45:40.287' AS DateTime), 0)
INSERT [dbo].[ProductoTalla] ([ProductoTallaId], [ProductoId], [TallaId], [Stock], [Estado], [FechaRegistro], [StockReservado]) VALUES (3, 1, 3, 15, 1, CAST(N'2025-10-23T22:48:55.997' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[ProductoTalla] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([RolId], [NombreRol], [Estado], [FechaRegistro]) VALUES (1, N'Administrador', 1, CAST(N'2025-10-23T17:03:02.983' AS DateTime))
INSERT [dbo].[ROL] ([RolId], [NombreRol], [Estado], [FechaRegistro]) VALUES (2, N'Usuario', 1, CAST(N'2025-10-23T17:03:02.983' AS DateTime))
INSERT [dbo].[ROL] ([RolId], [NombreRol], [Estado], [FechaRegistro]) VALUES (3, N'Invitado', 1, CAST(N'2025-10-23T17:03:02.983' AS DateTime))
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[SUCURSAL] ON 

INSERT [dbo].[SUCURSAL] ([SucursalId], [Locales], [Descripcion], [Estado], [FechaRegistro]) VALUES (1, N'Local Miraflores', N'Tienda ubicada cerca del Parque Kennedy, zona juvenil y turística.', 1, CAST(N'2025-11-20T08:39:42.477' AS DateTime))
INSERT [dbo].[SUCURSAL] ([SucursalId], [Locales], [Descripcion], [Estado], [FechaRegistro]) VALUES (2, N'Local San Isidro', N'Sucursal en zona ejecutiva, centro comercial moderno', 1, CAST(N'2025-11-20T08:42:14.530' AS DateTime))
INSERT [dbo].[SUCURSAL] ([SucursalId], [Locales], [Descripcion], [Estado], [FechaRegistro]) VALUES (3, N'Local Surco', N'Ubicada en el CC Caminos del Inca, alto flujo de jóvenes.', 1, CAST(N'2025-11-20T10:22:05.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[SUCURSAL] OFF
GO
SET IDENTITY_INSERT [dbo].[TALLA] ON 

INSERT [dbo].[TALLA] ([TallaId], [TipoTalla], [Descripcion], [Estado], [FechaRegistro]) VALUES (1, N'XS', N'Contorno de pecho 88–92 cm, cintura 72–76 cm, cadera 94–98 cm', 1, CAST(N'2025-10-23T22:43:06.070' AS DateTime))
INSERT [dbo].[TALLA] ([TallaId], [TipoTalla], [Descripcion], [Estado], [FechaRegistro]) VALUES (2, N'S', N'Contorno de pecho 94–98 cm, cintura 78–82 cm, cadera 100–104 cm', 1, CAST(N'2025-10-23T22:43:20.780' AS DateTime))
INSERT [dbo].[TALLA] ([TallaId], [TipoTalla], [Descripcion], [Estado], [FechaRegistro]) VALUES (3, N'M', N'Contorno de pecho 100–104 cm, cintura 84–88 cm, cadera 106–110 cm', 1, CAST(N'2025-10-23T22:43:28.560' AS DateTime))
SET IDENTITY_INSERT [dbo].[TALLA] OFF
GO
SET IDENTITY_INSERT [dbo].[Testimonio] ON 

INSERT [dbo].[Testimonio] ([TestimonioId], [Descripcion], [UsuarioId], [Evaluacion], [Estado], [FechaRegistro]) VALUES (1, N'Me encantó comprar en Kallewear. La página es muy fácil de usar, encontré todo lo que buscaba y el pago fue rápido y seguro. Definitivamente volveré a comprar.', 21, 5, 1, CAST(N'2025-11-10T10:39:31.233' AS DateTime))
INSERT [dbo].[Testimonio] ([TestimonioId], [Descripcion], [UsuarioId], [Evaluacion], [Estado], [FechaRegistro]) VALUES (2, N'Kallewear tiene un estilo juvenil increíble. Hice mi pedido desde el celular y todo funcionó sin problemas. El método de pago es confiable y la entrega fue puntual.', 22, 4, 1, CAST(N'2025-11-10T10:40:12.880' AS DateTime))
INSERT [dbo].[Testimonio] ([TestimonioId], [Descripcion], [UsuarioId], [Evaluacion], [Estado], [FechaRegistro]) VALUES (3, N'Excelente experiencia. La tienda online de Kallewear es rápida, moderna y las fotos muestran exactamente lo que llega. El proceso de compra fue muy claro.', 23, 5, 1, CAST(N'2025-11-10T10:40:25.297' AS DateTime))
SET IDENTITY_INSERT [dbo].[Testimonio] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOPAGO] ON 

INSERT [dbo].[TIPOPAGO] ([TipoPagoId], [DescripcionTipoPago], [Estado], [FechaRegistro]) VALUES (1, N'Tarjeta de Crédito', 1, CAST(N'2025-11-20T11:48:47.797' AS DateTime))
INSERT [dbo].[TIPOPAGO] ([TipoPagoId], [DescripcionTipoPago], [Estado], [FechaRegistro]) VALUES (2, N'Tarjeta de Débito', 1, CAST(N'2025-11-20T11:48:47.797' AS DateTime))
INSERT [dbo].[TIPOPAGO] ([TipoPagoId], [DescripcionTipoPago], [Estado], [FechaRegistro]) VALUES (3, N'Billetera Digital', 1, CAST(N'2025-11-20T11:48:47.797' AS DateTime))
SET IDENTITY_INSERT [dbo].[TIPOPAGO] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRol] ON 

INSERT [dbo].[UserRol] ([UserRolId], [RolId], [UsuarioId], [Estado], [FechaRegistro]) VALUES (1, 3, 3, 1, CAST(N'2025-12-05T20:54:37.577' AS DateTime))
INSERT [dbo].[UserRol] ([UserRolId], [RolId], [UsuarioId], [Estado], [FechaRegistro]) VALUES (2, 1, 7, 1, CAST(N'2025-12-05T20:55:10.500' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserRol] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([UsuarioId], [NombreCompleto], [ApellidoCompleto], [FechaNacimiento], [DNI], [Imagen], [CorreoElectronico], [Contraseña], [ContraseñaVisible], [Estado], [FechaRegistro]) VALUES (3, N'Invitado', N'Invitados', CAST(N'2000-01-01' AS Date), N'99999999', N'https://i.imgur.com/GpxMW2T.png', N'invitado@demo.com', N'123', N'123', 1, CAST(N'2025-10-23T17:15:11.833' AS DateTime))
INSERT [dbo].[USUARIO] ([UsuarioId], [NombreCompleto], [ApellidoCompleto], [FechaNacimiento], [DNI], [Imagen], [CorreoElectronico], [Contraseña], [ContraseñaVisible], [Estado], [FechaRegistro]) VALUES (7, N'Alfred Jerico', N'Huarcaya Quezada', CAST(N'2000-05-15' AS Date), N'12345678', N'https://i.imgur.com/1t4T6I9.png', N'alfredhuarcaya30@gmail.com', N'$2a$11$tNMkTL6ize2KZrmZ1OKcheSGAG2VrW8CVpTx9dI3fXA.SN2MGf8ES', N'2525', 1, CAST(N'2025-10-23T20:46:26.123' AS DateTime))
INSERT [dbo].[USUARIO] ([UsuarioId], [NombreCompleto], [ApellidoCompleto], [FechaNacimiento], [DNI], [Imagen], [CorreoElectronico], [Contraseña], [ContraseñaVisible], [Estado], [FechaRegistro]) VALUES (20, N'Estephanie  Angie Bobaaa', N'Boba', CAST(N'2001-09-02' AS Date), N'75504185', N'https://i.imgur.com/vHjQkmV.jpeg', N'Estephanied@gmail.com', N'$2a$08$ghur7F4.h/uv79dXVPqQRenN74H5/v8di9L7yJRGCnxzIKRaCH0wS', N'Alfred2530@', 1, CAST(N'2025-11-09T19:41:45.833' AS DateTime))
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Anuncio_Titulo]    Script Date: 20/12/2025 08:19:03 p. m. ******/
ALTER TABLE [dbo].[ANUNCIO] ADD  CONSTRAINT [UQ_Anuncio_Titulo] UNIQUE NONCLUSTERED 
(
	[Titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Categoria_DesCategoria]    Script Date: 20/12/2025 08:19:03 p. m. ******/
ALTER TABLE [dbo].[Categoria] ADD  CONSTRAINT [UQ_Categoria_DesCategoria] UNIQUE NONCLUSTERED 
(
	[DesCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CUPON__06370DAC40DEADDF]    Script Date: 20/12/2025 08:19:03 p. m. ******/
ALTER TABLE [dbo].[CUPON] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DETALLETARJETA_NumeroTarjeta]    Script Date: 20/12/2025 08:19:03 p. m. ******/
ALTER TABLE [dbo].[DETALLETARJETA] ADD  CONSTRAINT [UQ_DETALLETARJETA_NumeroTarjeta] UNIQUE NONCLUSTERED 
(
	[NumeroTarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GENERO__8E762CB4640D6507]    Script Date: 20/12/2025 08:19:03 p. m. ******/
ALTER TABLE [dbo].[GENERO] ADD UNIQUE NONCLUSTERED 
(
	[Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_HISTORIA_Titulo]    Script Date: 20/12/2025 08:19:03 p. m. ******/
ALTER TABLE [dbo].[HISTORIA] ADD  CONSTRAINT [UQ_HISTORIA_Titulo] UNIQUE NONCLUSTERED 
(
	[Titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MONEDA__06370DAC7DB4B0BC]    Script Date: 20/12/2025 08:19:03 p. m. ******/
ALTER TABLE [dbo].[MONEDA] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NOTICIA_Titulo]    Script Date: 20/12/2025 08:19:03 p. m. ******/
ALTER TABLE [dbo].[NOTICIA] ADD  CONSTRAINT [UQ_NOTICIA_Titulo] UNIQUE NONCLUSTERED 
(
	[Titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PERMISO__BA19B18DCED4A6D3]    Script Date: 20/12/2025 08:19:03 p. m. ******/
ALTER TABLE [dbo].[PERMISO] ADD UNIQUE NONCLUSTERED 
(
	[NombrePermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ROL__4F0B537F1D8CAB13]    Script Date: 20/12/2025 08:19:03 p. m. ******/
ALTER TABLE [dbo].[ROL] ADD UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_STOCK]    Script Date: 20/12/2025 08:19:03 p. m. ******/
ALTER TABLE [dbo].[STOCKPRODUCTO] ADD  CONSTRAINT [UQ_STOCK] UNIQUE NONCLUSTERED 
(
	[ProductoId] ASC,
	[TallaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SUCURSAL_Locales]    Script Date: 20/12/2025 08:19:03 p. m. ******/
ALTER TABLE [dbo].[SUCURSAL] ADD  CONSTRAINT [UQ_SUCURSAL_Locales] UNIQUE NONCLUSTERED 
(
	[Locales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TALLA_TipoTalla]    Script Date: 20/12/2025 08:19:03 p. m. ******/
ALTER TABLE [dbo].[TALLA] ADD  CONSTRAINT [UQ_TALLA_TipoTalla] UNIQUE NONCLUSTERED 
(
	[TipoTalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIO__531402F38344B96E]    Script Date: 20/12/2025 08:19:03 p. m. ******/
ALTER TABLE [dbo].[USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIO__C035B8DD68FCE5A9]    Script Date: 20/12/2025 08:19:03 p. m. ******/
ALTER TABLE [dbo].[USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ANUNCIO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CarritoCompra] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CUPON] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[DESCUENTO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[DETALLETARJETA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[DIRECCION] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[GENERO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[HISTORIA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[MEDIOPAGO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[MONEDA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[NOTICIA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ORDEN] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ORDEN_CUPON] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[ORDENDETALLE] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PAGO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PERMISO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PERMROL] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PREGUNTA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ProductoCategoria] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ProductoFavorito] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ProductoTalla] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ProductoTalla] ADD  DEFAULT ((0)) FOR [StockReservado]
GO
ALTER TABLE [dbo].[ROL] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[STOCKPRODUCTO] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[STOCKPRODUCTO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[SUCURSAL] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[TALLA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Testimonio] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[TIPOPAGO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[UserRol] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CarritoCompra]  WITH CHECK ADD  CONSTRAINT [FK_CARRITO_ORDEN] FOREIGN KEY([OrdenId])
REFERENCES [dbo].[ORDEN] ([OrdenId])
GO
ALTER TABLE [dbo].[CarritoCompra] CHECK CONSTRAINT [FK_CARRITO_ORDEN]
GO
ALTER TABLE [dbo].[CarritoCompra]  WITH CHECK ADD  CONSTRAINT [FK_CARRITO_PRODUCTOTALLA] FOREIGN KEY([ProductoTallaId])
REFERENCES [dbo].[ProductoTalla] ([ProductoTallaId])
GO
ALTER TABLE [dbo].[CarritoCompra] CHECK CONSTRAINT [FK_CARRITO_PRODUCTOTALLA]
GO
ALTER TABLE [dbo].[CarritoCompra]  WITH CHECK ADD  CONSTRAINT [FK_CARRITO_USUARIO] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[USUARIO] ([UsuarioId])
GO
ALTER TABLE [dbo].[CarritoCompra] CHECK CONSTRAINT [FK_CARRITO_USUARIO]
GO
ALTER TABLE [dbo].[DETALLETARJETA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLETARJETA_PAGO] FOREIGN KEY([PagoId])
REFERENCES [dbo].[PAGO] ([PagoId])
GO
ALTER TABLE [dbo].[DETALLETARJETA] CHECK CONSTRAINT [FK_DETALLETARJETA_PAGO]
GO
ALTER TABLE [dbo].[DIRECCION]  WITH CHECK ADD  CONSTRAINT [FK_DIRECCION_USUARIO] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[USUARIO] ([UsuarioId])
GO
ALTER TABLE [dbo].[DIRECCION] CHECK CONSTRAINT [FK_DIRECCION_USUARIO]
GO
ALTER TABLE [dbo].[MEDIOPAGO]  WITH CHECK ADD  CONSTRAINT [FK_MEDIOPAGO_TIPOPAGO] FOREIGN KEY([TipoPagoId])
REFERENCES [dbo].[TIPOPAGO] ([TipoPagoId])
GO
ALTER TABLE [dbo].[MEDIOPAGO] CHECK CONSTRAINT [FK_MEDIOPAGO_TIPOPAGO]
GO
ALTER TABLE [dbo].[ORDEN]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_DIRECCION] FOREIGN KEY([DireccionId])
REFERENCES [dbo].[DIRECCION] ([DireccionId])
GO
ALTER TABLE [dbo].[ORDEN] CHECK CONSTRAINT [FK_ORDEN_DIRECCION]
GO
ALTER TABLE [dbo].[ORDEN]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_SUCURSAL] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[SUCURSAL] ([SucursalId])
GO
ALTER TABLE [dbo].[ORDEN] CHECK CONSTRAINT [FK_ORDEN_SUCURSAL]
GO
ALTER TABLE [dbo].[ORDEN]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_USUARIO] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[USUARIO] ([UsuarioId])
GO
ALTER TABLE [dbo].[ORDEN] CHECK CONSTRAINT [FK_ORDEN_USUARIO]
GO
ALTER TABLE [dbo].[ORDEN_CUPON]  WITH CHECK ADD  CONSTRAINT [FK_ORDENCUPON_CUPON] FOREIGN KEY([CuponId])
REFERENCES [dbo].[CUPON] ([CuponId])
GO
ALTER TABLE [dbo].[ORDEN_CUPON] CHECK CONSTRAINT [FK_ORDENCUPON_CUPON]
GO
ALTER TABLE [dbo].[ORDEN_CUPON]  WITH CHECK ADD  CONSTRAINT [FK_ORDENCUPON_ORDEN] FOREIGN KEY([OrdenId])
REFERENCES [dbo].[ORDEN] ([OrdenId])
GO
ALTER TABLE [dbo].[ORDEN_CUPON] CHECK CONSTRAINT [FK_ORDENCUPON_ORDEN]
GO
ALTER TABLE [dbo].[ORDENDETALLE]  WITH CHECK ADD  CONSTRAINT [FK_ORDENDETALLE_ORDEN] FOREIGN KEY([OrdenId])
REFERENCES [dbo].[ORDEN] ([OrdenId])
GO
ALTER TABLE [dbo].[ORDENDETALLE] CHECK CONSTRAINT [FK_ORDENDETALLE_ORDEN]
GO
ALTER TABLE [dbo].[ORDENDETALLE]  WITH CHECK ADD  CONSTRAINT [FK_ORDENDETALLE_PRODUCTO] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[PRODUCTO] ([ProductoId])
GO
ALTER TABLE [dbo].[ORDENDETALLE] CHECK CONSTRAINT [FK_ORDENDETALLE_PRODUCTO]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_MEDIOPAGO] FOREIGN KEY([MedioPagoId])
REFERENCES [dbo].[MEDIOPAGO] ([MedioPagoId])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_PAGO_MEDIOPAGO]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_ORDEN] FOREIGN KEY([OrdenId])
REFERENCES [dbo].[ORDEN] ([OrdenId])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_PAGO_ORDEN]
GO
ALTER TABLE [dbo].[PERMROL]  WITH CHECK ADD  CONSTRAINT [FK_PERMROL_PERMISO] FOREIGN KEY([PermisoId])
REFERENCES [dbo].[PERMISO] ([PermisoId])
GO
ALTER TABLE [dbo].[PERMROL] CHECK CONSTRAINT [FK_PERMROL_PERMISO]
GO
ALTER TABLE [dbo].[PERMROL]  WITH CHECK ADD  CONSTRAINT [FK_PERMROL_ROL] FOREIGN KEY([RolId])
REFERENCES [dbo].[ROL] ([RolId])
GO
ALTER TABLE [dbo].[PERMROL] CHECK CONSTRAINT [FK_PERMROL_ROL]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_GENERO] FOREIGN KEY([GeneroId])
REFERENCES [dbo].[GENERO] ([GeneroId])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_GENERO]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_MONEDA] FOREIGN KEY([MonedaId])
REFERENCES [dbo].[MONEDA] ([MonedaId])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_MONEDA]
GO
ALTER TABLE [dbo].[ProductoCategoria]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOCATEGORIA_CATEGORIA] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categoria] ([CategoriaId])
GO
ALTER TABLE [dbo].[ProductoCategoria] CHECK CONSTRAINT [FK_PRODUCTOCATEGORIA_CATEGORIA]
GO
ALTER TABLE [dbo].[ProductoCategoria]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOCATEGORIA_PRODUCTO] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[PRODUCTO] ([ProductoId])
GO
ALTER TABLE [dbo].[ProductoCategoria] CHECK CONSTRAINT [FK_PRODUCTOCATEGORIA_PRODUCTO]
GO
ALTER TABLE [dbo].[ProductoFavorito]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOFAVORITO_PRODUCTO] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[PRODUCTO] ([ProductoId])
GO
ALTER TABLE [dbo].[ProductoFavorito] CHECK CONSTRAINT [FK_PRODUCTOFAVORITO_PRODUCTO]
GO
ALTER TABLE [dbo].[ProductoFavorito]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOFAVORITO_USUARIO] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[USUARIO] ([UsuarioId])
GO
ALTER TABLE [dbo].[ProductoFavorito] CHECK CONSTRAINT [FK_PRODUCTOFAVORITO_USUARIO]
GO
ALTER TABLE [dbo].[ProductoTalla]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOTALLA_PRODUCTO] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[PRODUCTO] ([ProductoId])
GO
ALTER TABLE [dbo].[ProductoTalla] CHECK CONSTRAINT [FK_PRODUCTOTALLA_PRODUCTO]
GO
ALTER TABLE [dbo].[ProductoTalla]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOTALLA_TALLA] FOREIGN KEY([TallaId])
REFERENCES [dbo].[TALLA] ([TallaId])
GO
ALTER TABLE [dbo].[ProductoTalla] CHECK CONSTRAINT [FK_PRODUCTOTALLA_TALLA]
GO
ALTER TABLE [dbo].[STOCKPRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_PRODUCTO] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[PRODUCTO] ([ProductoId])
GO
ALTER TABLE [dbo].[STOCKPRODUCTO] CHECK CONSTRAINT [FK_STOCK_PRODUCTO]
GO
ALTER TABLE [dbo].[STOCKPRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_STOCK_TALLA] FOREIGN KEY([TallaId])
REFERENCES [dbo].[TALLA] ([TallaId])
GO
ALTER TABLE [dbo].[STOCKPRODUCTO] CHECK CONSTRAINT [FK_STOCK_TALLA]
GO
ALTER TABLE [dbo].[Testimonio]  WITH CHECK ADD  CONSTRAINT [FK_TESTIMONIO_USUARIO] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[USUARIO] ([UsuarioId])
GO
ALTER TABLE [dbo].[Testimonio] CHECK CONSTRAINT [FK_TESTIMONIO_USUARIO]
GO
ALTER TABLE [dbo].[UserRol]  WITH CHECK ADD  CONSTRAINT [FK_USERROL_ROL] FOREIGN KEY([RolId])
REFERENCES [dbo].[ROL] ([RolId])
GO
ALTER TABLE [dbo].[UserRol] CHECK CONSTRAINT [FK_USERROL_ROL]
GO
ALTER TABLE [dbo].[UserRol]  WITH CHECK ADD  CONSTRAINT [FK_USERROL_USUARIO] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[USUARIO] ([UsuarioId])
GO
ALTER TABLE [dbo].[UserRol] CHECK CONSTRAINT [FK_USERROL_USUARIO]
GO
ALTER TABLE [dbo].[CarritoCompra]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[CarritoCompra]  WITH CHECK ADD CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[CarritoCompra]  WITH CHECK ADD CHECK  (([Subtotal]>=(0)))
GO
ALTER TABLE [dbo].[CarritoCompra]  WITH CHECK ADD CHECK  (([TotalCarrito]>=(0)))
GO
ALTER TABLE [dbo].[CUPON]  WITH CHECK ADD CHECK  (([Descuento]>=(0) AND [Descuento]<=(100)))
GO
ALTER TABLE [dbo].[DESCUENTO]  WITH CHECK ADD CHECK  (([Porcentaje]>=(0) AND [Porcentaje]<=(100)))
GO
ALTER TABLE [dbo].[ORDEN_CUPON]  WITH CHECK ADD CHECK  (([MontoDescuento]>=(0)))
GO
ALTER TABLE [dbo].[ORDENDETALLE]  WITH CHECK ADD CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[ProductoTalla]  WITH CHECK ADD CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[STOCKPRODUCTO]  WITH CHECK ADD CHECK  (([Cantidad]>=(0)))
GO
ALTER TABLE [dbo].[Testimonio]  WITH CHECK ADD CHECK  (([Evaluacion]>=(1) AND [Evaluacion]<=(5)))
GO
